{% extends 'base.html' %}
{% block title %}Welcome to {{ block.super }}{% endblock title %}
{% block content %}
<h1>Service Orders</h1>
	<strong>Order #: </strong>{{ order.id }}<br>
	<strong>Car Owner: <strong>{{ order.car.client}}<br>
	<strong>Car: </strong>{{ order.car }}<br>
	<strong>Date: </strong>{{ order.date }}<br>
	<strong>Car due back:</strong>{{ order.due_back}}<br>
	<strong>Customer notes:</strong>{{order.car.note|safe}}
	<ul>
		{% for entry in order.order_entries.all %}
		{{ entry.service.name }}:<br> 
		Quantity - {{ entry.quantity }}, 
		Price - {{ entry.price }}$,<br>
		Status - 
			{% with entry_color=entry.get_color %}
			<span style="color: {{ entry_color }}">{{ entry.get_status_display }}<br><br></span>
			{% endwith %}
		
		{% empty %}
		<li>No order entries found.</li>
		{% endfor %}
	</ul>
		<strong>Total Price: ${{ total_price }}</strong>
{% endblock %}