{% extends 'base.html' %}
{% block title %}Welcome to {{ block.super }}{% endblock title %}
{% block content %}
<h1>Service Orders</h1>
	<strong>Order #: </strong>{{ order.id }}<br>
	<strong>Car Owner: <strong>{{ order.car.client}}<br>
	<strong>Car: </strong>{{ order.car }}<br>
	<strong>Date: </strong>{{ order.date }}<br>
	<strong>Car due back:</strong>{{ order.due_back}}<br>
	<strong>Customer notes:</strong>{{order.car.note|safe}}
	<ul>
		{% for entry in order.order_entries.all %}
		{{ entry.service.name }}:<br> 
		Quantity - {{ entry.quantity }}, 
		Price - {{ entry.price }}$,<br>
		Status - 
			{% with entry_color=entry.get_color %}
			<span style="color: {{ entry_color }}">{{ entry.get_status_display }}<br><br></span>
			{% endwith %}
		
		{% empty %}
		<li>No order entries found.</li>
		{% endfor %}
	</ul>
		<strong>Total Price: ${{ total_price }}</strong>
<h2>Reviews</h2>
{% if user.is_authenticated %}
{% if user.is_superuser or user.is_staff or user == order.car.client %}
	<form method="post" action="{{ request.path }}">
	<h3>Leave your review</h3>
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">Post</button>
	</form>
{% else %}
	<p class="box box-info">the car owner or employee can participate in the order discussion</p>
{% endif %}
{% endif %}
{% if order.reviews.count > 0 %}
	<ul>
		{% for review in order.reviews.all %}
			<li>{{ review.reviewed_at }} by {{ review.reviewer }}<br>
				{{ review.content }}
			</li>
		{% endfor %}
	</ul>
{% endif %}
</div>
{% endblock content %}