{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome to {{ block.super }}{% endblock title %}
{% block content %}
<h1>Service Orders</h1>
{% include 'includes/search.html' %}
{% include 'includes/paginator_nav.html' %}
<ul class="car-list">
    
    {% for order in order_list %}
    <li>
        <strong>Order #{{ order.id }}</strong><a href="{% url 'order_detail' order.pk %}"> {{ order.car }} {{ order.date }}</a>
        
    </li>
    {% empty %}
    <li>No orders found.</li>
    {% endfor %}
</ul>
{% include 'includes/paginator_page.html' %}
{% endblock %}